__pycache__
node_modules
uploadedVideos
sqlite3_videos/videoDatabase.db
/React_part/src/components/PlayerVideo_page/Player_part/Clone.mp4
/React Template/src/pages/LandingPages/UploadPage/PlayerVideo_page/Player_part/VideoExample/OOP P01 CanteenICT Get-Started Session (Bi-Lingual)-20210310 0659-1.mp4
