.PlayerVideo_page {
    Display: fixed;
    text-align: center;
    Align-Items: center;       
}

.PlayerVideo{
    Display: flex;
    Align-Items: center;
    Justify-Content: center;
}

.Doc {
    Display: flex;
    Align-Items: center;
    Justify-Content: center;
}
